/***************Géneral******************/
$maincolor:  #9356DC;
$secondecolor: #FF79DA;
$couleurtertiaire: #99E2D0;
$greybg:  #f6f6f6;

*{
    font-family: 'Roboto';
    font-weight: bold;
}

body{
    max-width: 768px;
    min-width: 320px;
    margin: 0;
}

main{
    width: 100%;
}

p{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
}
/************Header****************/
.header-accueil{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    height: 63px;
    align-items: center;
    justify-content: center;
    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        .Retour{
            width: 17px;
            height: 17px;
        }
    }
    img{
        grid-column: 2;
         width: 162px;
        height: 44px;
        justify-self: center;
        margin-left: -11%;
     }

     
    
}
.shadows{
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) ;
    z-index: 2;
 }
/******nav***********/

nav{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) ;

    .fa-location-dot{
        color: #353535;
        height: 16px;
        margin-left: 1%;
    }

    input , input[type="search" ]:focus{
        height: 19px;
        border: none;
        background-color: #eaeaea;
        outline: none;
        text-align: center;
    }
    input::placeholder{
        font-size: 16px;
        color: #000;
    }
}
/**********CTA****************/
.CTA{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    background-color: $greybg;


    &-btn{
        display: block;
        position: relative;
        width: 58%;
        height: 50px;
        border-radius: 25px;
        color: white;
        border: none;
        font-size: 16px;
        font-family: 'Roboto';
        background: linear-gradient(to bottom right, $maincolor, $secondecolor);

        &:hover{
            &::after{
                transition: opacity 1s ease  ;
                opacity: 1;
            }  
        }
        &::after{
            content: "";
            border-radius: 25px;
            width: 100%;
            height: 50px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            position: absolute;
            background-color: #ffffff2c;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35) ;
            opacity: 0;
            transition: opacity 1s ease  ;
        }
    }
    h1{
        margin: 0 0 20px 0;
    }
    p{
        margin-bottom: 35px;
    }
}
/*********section fonctionnement****************/
.Fonctionnement{
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    gap: 35px;

    h2{
        margin: 10px;
    }
    .etape{
        display: flex;
        flex-direction: row;
        position: relative;
        margin-left: 5px;
        padding-left: 20px;
        gap: 30px;
        border-radius: 20px;
        justify-content: start;
        align-items: center;
        background-color: $greybg;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        width: 96.26865%;
        //width: 322.49px;
        height: 72px;
        
        img{
            position: absolute;
            left: -15px;
        }

        p{
            font-size: 16px;
        }

        i{
            font-size: 17px;
            color: #7e7e7e;
        }

        .fa-mobile-screen-button::after , .fa-store::after , .fa-list-ul::after{
            color: $maincolor;
            opacity: 0;
            position: absolute;
            left: 7.5%;
        }
        .fa-store::after{
            content: "\f54e";
        }
        .fa-mobile-screen-button::after{
            content: "\f3cd";
        }
        .fa-list-ul::after{
            content: "\f0ca";
        }

    }
    .etape:hover .fa-mobile-screen-button::after ,.etape:hover  .fa-store::after ,.etape:hover .fa-list-ul::after{
        opacity: 1;
        z-index: 3;
    }
}
/***********Restaurant card*************/
.Restaurants{
    display: flex;
    flex-direction: column;
    background-color: $greybg;
    padding: 50px 0 100px 0;
    gap: 18px;

    h2{
        margin: 0 0 0 20px;
    }
    &-card{
        border-radius: 15px;
        background-color: #ffffff;
        display: block;
        width: 90.67%;
        height: 250px;
        align-self: center;
        overflow: hidden;
        text-decoration: none;
        color: #000000;

        article{
            position:relative;
            
        }

        img{
            border-radius: 15px 15px 0 0 ;
            width: 100%;
            max-height: 183px;
            object-fit: cover;
            margin: 0;
            object-position: center;
            
        }

        .new{
            border-radius: 0;
            position: absolute;
            width: 80px;
            height: 29px;
            top: 15px;
            right: 12px;
        }

        &-content{
            display: flex;
            flex-direction: row;
            height: 68px;
            justify-content: space-between;
            padding: 0 10px 0 10px;

            &-text{

                h3{
                    margin: 5px 0 0 0;
                }
            }
            

        }
    }

}
/****************Like**********/
.Animation-like{
    width: 24px;
    min-height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    img{
        border-radius: 0;
        width: 22px;
        height: 21px;
    }
}
.Like-unchecked{
    display: block;
    width: 22px;
    height: 21px;
    position: absolute;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ;
}

.Like{
    display: block;
    width: 22px;
    height: 21px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ;
}

.Like-unchecked:active{
    opacity: 0;
}

.Like-unchecked:active + .Like{
    opacity: 1;
}
.custom-checkbox {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;

    .Like-unchecked{
        object-fit: fill;
        display: block;
        width: 22px;
        height: 21px;
        position: absolute;
        opacity: 1;
        z-index: 1;
        transition: opacity 0.3s ;
    }

}

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked,
.custom-checkbox .unchecked {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked,
.custom-checkbox input[type="checkbox"]:not(:checked) ~ .unchecked {
    opacity: 1;
}

/**************footer***************/

footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 25px;
    gap: 15px;

    .footer-logo{
        display: inline-block;
        width: 139px ;
        margin: 10px 0 20px 0;
    }

    a{
        display: flex;
        flex-direction: row;
        gap: 15px;
        color: #ffffff;
        text-decoration: none;
        font-family:"Roboto" ;
        font-size: 16px;
        font-weight: 400;

        p{
            font-size: 16px;
            font-weight: 400;
        }

    }

}


// page restaurant//////

.img-header{
    width: 100%;
    height: 275px;
    object-fit: cover;
    overflow: hidden;
}

.Restaurant-Name{
    
    max-width: 768px;
    display: flex;
    flex-direction: row;
    justify-content:    start;
    align-items: center;
    padding: 40px 0;
    border-radius: 40px 40px 0 0;
    position: absolute;
    top: 283px;
    width: 100%;
    background-color: $greybg;
    margin: 0;
    h1{
        font-size: 28px;
        font-weight: 400;
        font-family: "Shrikhand";
        margin: 0 15px;
    }
}
.cateogries-plat{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 50px;
    max-width: 768px;
    background-color: #f6f6f6;
    h2{
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
        position: relative;
        color: #000000;
        z-index: 2;
        margin: 0 0 0 3.46666666665%;
    }
    .line{
        object-fit: cover;
        width: 40px;
        height: 3px;
        position: relative;
        z-index: 2;
        margin: -10px 0 0 3.46666666665%;
    }

/*************card plat***********************/
    .card {
        position: relative;
        height: 69px;
        width: 93.0666666667%;
        margin: 0 3.46666666665%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        animation: slideIn 0.3s forwards;
        transform: translateX(-200px);
        opacity: 0;
      
        &-label {
          display: flex;
          height: 69px;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
      
        .card-text {
            max-width: 55%;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 15px;
            gap: 5px;
      
            h3, p {
              margin: 0;
              white-space: nowrap;
            }
      
            h3 {
              font-size: 18px;
            }
      
            p {
              display: inline-block;
              max-width: 90%;
              font-size: 15px;
              font-weight: 300;
            }
          }
      
          & .card-price-check-container {
            display: flex;
            align-items: end;
            position: relative;
            z-index: 2;
            gap: 16px;
            transform: translateX(59px);
            transform-origin: right;
            transition: transform 0.5s ease;
      
            & .card-price {
              margin: 0 0 12px 0;
              font-size: 15px;
            }
      
            & .card-check {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $couleurtertiaire;
              border-radius: 0 15px 15px 0;
              width: 59px;
              height: 69px;
              text-align: center;
      
              img {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .state-check:checked + .card-label {
        .card-price-check-container {
          transform: translateX(0);
        }
      
        .card-text {
          h3, p {
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      
}

/***********************loader*************************/
.wave {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: $maincolor; 
    animation: fadeOut 3s forwards;
  }
  
  .wave span {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    animation: wavy 1s infinite ease-in-out;
    animation-delay: calc(0.1s * var(--i));
    
    &::before, &::after {
      content: attr(data-letter);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation: opacityChange 1s infinite ease-in-out;
      animation-delay: inherit;
    }
  
    &::before {
      color: $secondecolor;
      z-index: 0;
      animation-delay: 0.5ms;
    }
  
    &::after {
      color: $couleurtertiaire;
      animation-delay: calc(0.1s * var(--i) + 1.5s);
    }
  }
  
  /*****************Keyframe et boucle****************/
  @keyframes wavy {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes opacityChange {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
      display: none; /* Ajouté pour enlever complètement le loader de la page */
    }
  }

  @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@for $i from 1 through 9 {
    #plats#{$i} {
      animation-delay: 0.5s * $i;
    }
  }

/*****************Reponsive******************/
@media (min-width: 765px){
    body{
        max-width: none;
        width: 100%;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Mwidth{
        max-width: 1055px;
        width: 73.2638%;
    }

    .img-header{
        height: 383px;
    }

    .CTA{
        padding: 30px 0;
    }

    .Restaurant-Name{
        top: 383px;
    }

    .CTA-btn{
        max-width: 218px;
    }

    .Fonctionnement{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 24px;
        justify-content: space-around;
        align-items: center;
        margin: 0 12.5%;
        height: 128.38px;
        padding: 50px 0;

        h2{
           width: 100%; 

        }
        .etape{
            width: 25%;
        }
    }

    .Restaurants{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 12.5% ;
        justify-content: center;
        gap: 9.2592%;
        row-gap: 50px;


        h2{
            width: 100%;
        }

        &-card{
            width: 45.3703%;
        }
    }

    footer{
        flex-direction: row;
        justify-content: end;
        align-items: end;
        height: 64px;
        width: 100%;
        padding: 25px 0;
        

        img{
            width: 11px;
            height: 13px;
        }

        .footer-logo{
            order: 5;
            margin: 0;
            height: 20px;
        }
    
        a{
            align-items: end;
    
            p{
                font-size: 16px;
                font-weight: 400;
            }
    
        }
    }
}